<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <div className="holder">
      <img src={logo} alt="Logo de Transportes X" width="100" />
      <h1>Transportes</h1>
    </div>
  </header>
  {{{body}}}
  <footer>
      <p>Derechos reservados. Transporte X año</p>
    </footer>
</body>

</html>